
.header-inner1 {
    width: 100%;
    padding: 0px 40px;
    background-color: rgb(65, 68, 72);
    position: fixed;
    z-index: 10;
    opacity: 0.8;
}

.taiotru {
    text-decoration: none;
    padding: 20px 0px;
    color: white;
    float: left;
    display: block;
}

.uee {
    line-height: 76px;
    height: 100%;
    color: white;
    background-color: rgb(96, 99, 104);
    float: right;
    display: inline;
    padding: 0px 5px;
}

.profile {    
    color: rgb(145, 29, 35);
}

.main-inner1 {
    width: 100%;
    text-align: center;
    background-image: url(https://github.com/ikwebacount/portfolio-prpfile/blob/main/%E8%83%8C%E6%99%AF.png);
    background-size: cover;
}

.main-inner1 p {
    width: 100%;
    color: white;
    opacity: 0.8;
}

.main-inner1 h1 {
    letter-spacing: 5px;
    width: 100%;
    color: white;
    opacity: 0.8;
}

.ten {
    color: rgb(195, 16, 16);
}

.main-inner1-top {
    padding-top: 120px;
}

.main-inner1-setumei {
    margin: 15px 0px 45px 0px;
}

.main-inner1-bottom {
    height: 50px;
}

.main-inner2 {
    background-color: rgb(250, 244, 238);
    padding: 80px 80px 30px 80px;
}

.main-inner2 h3 {
    padding: 0px 0px 0px 0px;
    border-bottom: 1px solid gray;
    margin:  30px 0px 10px 0px;
}

.main-inner3 {
    text-align: center;
}

.main-inner3 h2 {
    font-weight: normal;
    margin-top: 100px;
}

.main-inner3 h3 {
    font-weight: normal;
    margin-bottom: 50px;
}

.main-inner3 a {
    box-shadow: 0px 7px rgb(43, 90, 73);
    padding: 15px 40px;
    color: white;
    background-color: rgb(69, 147, 121);
    border-radius: 5px;
    margin-bottom: 80px;
}

.main-inner3-bottom {
    padding-bottom: 60px;
}

a {
    opacity: 0.8;
}

a:hover
,.main-inner1-btn:hover{
    opacity: 1;
}



.header-inner1-btn:active
,.main-inner2-btn:active {
    color: black;
}


.main-inner1-btn:active {
    background-color: black;
    opacity: 1;
}

.main-inner3-btn:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

.hooter-inner1  {
    padding: 0px 80px;
    border-top: 1px solid rgb(209, 208, 208);
}

.hooter-inner1 h2 {
    padding-top: 20px;
}

.hooter-inner1 p {
    font-size: 12px;
    padding-bottom: 20px;
}
