.header-inner1 {
    width: 100%;
    padding: 0px 40px;
    background-color: rgb(65, 68, 72);
    position: fixed;
    z-index: 10;
}

.taiotru {
    text-decoration: none;
    padding: 20px 0px;
    color: white;
    float: left;
    display: block;
}

.taiotru h2:hover{
    color: rgb(56, 148, 230);
}

.profile {  
    font-size: 25px; 
    color: rgb(255, 52, 52);
}

.main-inner1 {
    width: 100%;
    text-align: center;
    background-image: url(./img/背景.png);
    background-size: cover;
}

.main-inner1 p {
    width: 100%;
    color: white;
    opacity: 0.8;
}

.main-inner1 h1 {
    letter-spacing: 5px;
    width: 100%;
    color: white;
    opacity: 0.8;
}

.ten {
    color: rgb(195, 16, 16);
}

.main-inner1-top {
    padding-top: 120px;
}

.main-inner1-setumei {
    margin: 15px 0px 45px 0px;
}

.main-inner1-bottom {
    height: 50px;
}

.main-inner2 {
    background-color: rgb(250, 244, 238);
    padding: 80px 80px 30px 80px;
}

.main-inner2 h3 {
    padding: 0px 0px 0px 0px;
    border-bottom: 1px solid gray;
    margin:  30px 0px 10px 0px;
}

.holleMessage {
    display: flex;
    justify-content: space-between;
}

.kao {
    margin-left: 80px;
    width: 200px;
    display: block;
    border: 1px solid gray;
}

.holle h3,
.useLung h3,
.lungLevel h3,
.toWont h3{
    margin-top: 40px;
    font-size: 1.8rem;
}

.holleMessage li,
.useLung li,
.lungLevel li,
.toWont li{
    margin: 20px 0;
}

.main-inner2-bottom{
    margin-bottom: 80px
}

.main-inner3 {
    text-align: center;
    background: linear-gradient(180deg,rgb(250, 244, 238),rgb(113, 147, 225));
    height: 200px;
}

.main-inner3 h2 {
    font-size: 1.8rem;
    font-weight: normal;
}

.main-inner3 h3 {
    font-size: 1.8rem;
    font-weight: normal;
}

.main-inner3 a {
    display: inline-block;
    font-size: 1.8rem;
    box-shadow: 0 10px 0 0 black;
    padding: 5px 10px;
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

a:hover
,.main-inner1-btn:hover{
    opacity: 1;
}

.header-inner1-btn:active
,.main-inner2-btn:active {
    color: black;
}


.main-inner1-btn:active {
    background-color: black;
    opacity: 1;
}

.main-inner3-btn:active {
    position: relative;
    top: 7px;
    box-shadow: none;
}

.hooter-inner1  {
    background-color: rgb(65, 68, 72);
    padding: 0px 80px;
    border-top: 1px solid rgb(209, 208, 208);
}

.hooter-inner1 h2 {
    color: white;
    padding-top: 8px;
}

.hooter-inner1 p {
    color: white;
    font-size: 8px;
    padding-bottom: 5px;
}

.holleMessage p {
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.useLung li,
.lungLevel li,
.toWont li {
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
}
  
